body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 80vh;
  margin: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.foot {
  background-color: red;
  width: 100%;
  height: 5em;
}

.header {
  margin-bottom: 1em;
}

.foot {
  margin-top: 1em;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.sidebar {
  background-color: red;
  flex: 1;
  height: 100%;
}

.main {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.top-main {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.item {
  background-color: red;
  flex: 1;
  height: 5rem;
}

.bottom-main {
  background-color: red;
  flex: 1;
}
